<h2>Agregar equipos</h2>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="nombre">
      Nombre
    </label>
    <input id="name" type="text" formControlName="name">
       <button class="button" type="submit">Agregar equipo</button>
       <button class="button" [disabled] = "!equiposPares" (click)="generarFixture()">Generar fixture</button>

  </div>
  </form>

  <app-lista-equipos> </app-lista-equipos>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->